<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust</title>
</head>
<body>
    <img src="<%= listing.image %>" alt="listing image" style="width: 300px; height: 200px;">
    <h3><%= listing.title %></h3>
    <p><%= listing.description %></p>
    <p>Price: &#8377; <%= listing.price.toLocaleString("en-IN") %></p>
    <p>Location: <%= listing.location %></p>
    <p>country: <%= listing.country%></p>
</body>
</html>